.main---container-hero {
  height: 100vh;
  margin-bottom: 5rem;
}
/*  */
.main---container-hero {
  display: flex;
}
.hero--conatiner--1 {
  max-width: 40%;
  margin-left: 9rem;
  margin-top: 10rem;
}
.heading--hero {
  margin: 0;
}
.heading--hero span {
  font-size: 3.5rem;
  font-weight: 600;
  color: #1fa25d;
  display: block;
}
.heading--hero p {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 0;
  color: white;
}
.hero---text1 p {
  margin-right: 1.2rem;

  margin-top: 1.3rem;
  line-height: 20px;
  text-align: justify;
  color: var(--WHITE, #fff);
}
.social--hero {
  display: flex;
  color: white;
}
.social--hero p {
  margin-top: 0.2rem;
  margin-right: 0.8rem;
  font-size: 1.5rem;
}
/*             */
.hero--container--2 {
}
.hero--container--2 img {
  margin-top: 5rem;
  height: 30rem;
  margin-left: 10rem;
}
.hamburger {
  color: white;
  font-size: 2rem;
}
/* Extra Small Devices (Phones) */
@media only screen and (max-width: 600px) {
  .navbar-container-2 {
    display: none;
  }
  .navbar-container-3 {
    display: none;
  }
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for tablets */
  .hamburger {
    display: none;
  }
}

/* Medium Devices (Laptops and Desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles for laptops and smaller desktops */
  .hamburger {
    display: none;
  }
}

/* Large Devices (Large Desktops and Wide Screens) */
@media only screen and (min-width: 1441px) {
  .hamburger {
    display: none;
  }
  /* Styles for large desktops and wide screens */
}
