.Products {
  display: flex;
  flex-wrap: wrap;
}
.dis {
  max-width: 70%;
  margin: 0 auto;
}
.title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-icons {
  fill: var(--Primary, #1fa25d);
}
.ico {
  fill: var(--Primary, #1fa25d);
}
.card-profile {
  display: flex;
}
.card-profile p {
  margin-right: 3rem;
}
.card-description p {
  color: var(--gray-text, #9b9b9b);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.5%; /* 15.6px */
  letter-spacing: 0.64px;
}
