.cards-container {
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
hr {
  width: 100%;
  border: 1px solid #000; /* Add a color for the border (e.g., black) */
}
@media screen and (max-width: 767px), (max-width: 607) {
}
@media screen and (max-width: 767px) {
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  hr {
    width: 100%;
    border: 1px solid #000; /* Add a color for the border (e.g., black) */
  }

  .upper-title {
  }
}
